h1 {
  left: 50px;
  top: 10px;
  margin: 5px;
}

h2 {
  text-align: left;
}

section {
  margin: 0 2em 2em 2em;
  background: rgb(198, 198, 224);
  border: 20px;
  border-radius: 5px;
  }

  .tweetfooter {
    text-align: right;
  }

  .counter {
    text-align: right;
    display: inline;
  }

  .text {
    display: block;
    width: 100%;
  }

  .tweetbtn {
    margin-top: 1em;
    display: inline;
  }

  .tweetbox {
    margin: 0 auto;
    width: 90%
  }