#timeline {
    margin: 0 2em 2em 2em;
    background: white;
    border: 20px;
    border-color: #c6c6e0;
    opacity: 0.8;
}

#timeline:hover {
    opacity: 1;
}

#timeline:hover .icons {
    opacity: 1;
}

header {
    display: inline-block;
    background: rgb(198, 198, 224);
    width: 100%;
}

.avi {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    float: left;
    border-radius: 5px;
}

.username {
    display: inline-block;
    margin-left: 5px;
}


.tlbody {
    display: block;
    width: 100%;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    min-height: 80px;
    padding: 15px;
}


.atname {
    display: block;
    text-align: right;
    float: bottom;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tltweet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid rgb(198, 198, 224);
    border-radius: 5px;
}


.tlfooter {
    display: block;
    background-color: white;
    float: left;
    padding: 5px;
    border-top: 1px solid rgb(198, 198, 224);
}

.tlfooter:hover {
}

.icons {
    display: inline-block;
    float: right;
    margin-right: 5px;
    padding: 5px;
    opacity: 0.0;
}
